/**
 * Created By Praneeth On 08/07/2019 for numberblock v1.0
 */

button {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
}

/*.w-20 {*/
/*    -webkit-box-flex: 0;*/
/*    -ms-flex: 0 0 19%;*/
/*    flex: 0 0 19%;*/
/*    max-width: 19%;*/
/*}*/

