/**
 * Created By Praneeth On 08/07/2019 for numberblock v1.0
 */

button {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #007bff;
    color: #007bff;
    text-align: center;
    font: 32px Arial, sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .media-size {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .media-size {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .media-size {
        width: 45%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
    .media-size {
        width: 19.5%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .media-size {
        width: 19.5%;
    }
}

